[staticMenu]
code = "topmenu"
==
<section class="first_screen">
    <div class="container">
        <div class="header">
            <div class="header_logo">
                <a href="/"><img class="logo_img" src="{{ 'assets/images/HouseVOP.svg'|theme }}" alt="logo">
                    <p class="logo">ЖИЛОЙ КОМПЛЕКС</p></a>
            </div>
            <!-- Это начало компонента -->
            {% component 'staticMenu' %}
            <!-- это конец компонента -->
            {#
            <div class="menu">
                <nav class="navigation">
                    <ul class="menu-list">
                        <li class="nav_menu"><a href="">О комплексе</a></li>
                        <li class="nav_menu"><a href="">Район</a></li>
                        <li class="nav_menu"><a href="">Каталог квартир</a></li>
                        <li class="nav_menu"><a href="">Ипотека</a></li>
                        <li class="nav_menu"><a href="{{ 'static_pages/contacts'|page }}">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            #}
        </div>
        <div class="heading">
            <div>
                <h1>{{ this.page.title }}</h1>
            </div>
            <div class="mouse">
                <img src="{{ 'assets/images/mouse.svg'|theme }}" alt="mouse">
            </div>
            <div class="contacts">
                <div class="contacts_item contact_1">
                    <img src="{{ 'assets/images/Group.svg'|theme }}" alt="contact">
                    <a href="#">Наб. реки Фонтанки 10-15</a>
                </div>
                <div class="contacts_item contact_2">
                    <img src="{{ 'assets/images/phone-call.svg'|theme }}" alt="contact">
                    <a href="tel:+78121234567">8 (812) 123-45-67</a>
                </div>
            </div>
        </div>
    </div>
</section>